.devlogContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-self: center;
    height: auto;
    overflow-y: scroll;
}

.devlogContainer ::-webkit-scrollbar{
    display: none;
}